<app-nav></app-nav>
<div class="main-content">
    <div class="content container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-headings"></div>
                    <div class="panel-body">
                        <div class="display-inline">
                            <div>
                                <i class="fa fa-user icon"></i>
                            </div>
                            <div>
                                <b>Total New Session</b>
                                <div style="margin-top:5%">
                                   1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-headings"></div>
                    <div class="panel-body">
                        <div class="display-inline">
                            <div>
                                <i class="fa fa-user icon"></i>
                            </div>
                            <div>
                                <b>Total Conversation</b>
                                <div style="margin-top:5%">
                                   1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-headings"></div>
                    <div class="panel-body">
                        <div class="display-inline">
                            <div>
                                <i class="fa fa-user icon"></i>
                            </div>
                            <div>
                                <b>Total Feedback</b>
                                <div style="margin-top:5%">
                                   1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel">
                    <div class="panel-headings"></div>
                    <div class="panel-body">
                        <div class="display-inline">
                            <div>
                                <i class="fa fa-user icon"></i>
                            </div>
                            <div>
                                <b>Total Chitchat</b>
                                <div style="margin-top:5%">
                                   1000
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                Hello
                            </div>
                            <div class="panel-body">
                                Hello
                            </div>
                            <div class="panel-footer">
                                Hello
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                Hello
                            </div>
                            <div class="panel-body">
                                Hello
                            </div>
                            <div class="panel-footer">
                                Hello
                            </div>
                        </div>
                    </div> 
                </div>            
            </div>
        </div>
    </div>
</div>
