<div class="main-content">
    <div class="container-fluid">
        <div class="row displayed" style="width: 50%;">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                    </div>
                    <div class="panel-body">
                        <div class="row"  >
                            <div class="col-md-12">
                                <img src="assets/ic_launcher.png" class="displayed round" width="15%" height="15%">
                            </div>
                        </div>
                        <h4 class="text-dark">Logged Out.</h4>
                        <h6>You are sucessfully logged out.. <a href="#" routerLink="/">Login Again?</a></h6>
                    </div>
                    <div class="panel-footer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
