<!-- <ngx-ui-loader  *ngIf='!token' delay="10000" minTime='30000' bgsColor="#1e6465"></ngx-ui-loader> -->
<h4>Loading....</h4>
<!-- <app-header></app-header>

<app-home *ngIf="!token"></app-home>

<app-footer></app-footer> -->


<!-- <div class="res-container">
    <div class="res-row">
  <div id="block-1 b3">
    
<div id="loader-wrap">
<div id="loading">
<div id="loading-center">
<div id="loading-center-absolute">
<div id="object"></div>
 <div id="loader"></div>
  </div>
  </div>
  </div>
  </div>
    
 </div>
  </div>
   </div>
  <div class="res-container">
    <div class="res-row">
  <div id="block-1">    
    <div id="block-2"></div>
    </div>
     </div>
    </div> -->
   
   
