<ngx-extended-pdf-viewer [src]="pdfSrc" 
            useBrowserLocale="true" 
            height="80vh"
            width="50vh"
            [showSpreadButton]="false"
            [showPropertiesButton]="false"
            [showPresentationModeButton]="false"
            [showDownloadButton]="false"
            [contextMenuAllowed]="false"
            [ignoreKeyboard]="true"
            [zoomLevels]="['page-fit']"
            [showPrintButton]="false"
            useBrowserLocale="true">
</ngx-extended-pdf-viewer>