


    div.modal  > div > div> div>  embed{
        position: relative;

    }




    footer{
        width: 100%;
        position: fixed;
        /* padding: 2px 0; */
        margin: auto;
        bottom: 0%;

    }

    .img-container {
        display: inline-block;
        position: relative;
      }

      .img-container .fix {
        position: absolute;
      }
      footer div.img-container  img{

        object-position: bottom;
        object-fit:fill;
        width:100%;
    }



    footer div.left-btn{
       float: left;
       position: fixed;
       left:9%;
       top: 55%;
       bottom: 18%;
       z-index: 1000;
       background-color: #26349b;
       border: 3px solid white;
       max-width:15%;
       word-wrap: break-word;
       align-items: center;
       display: flex;
       border-radius: 12px;
       max-height:80px;

       cursor: auto;
       text-align: center;
       text-decoration: none;
       padding:12px;
       font-size:1vmax;

       overflow-wrap: break-word;
       color: #FFFFFF;
    }



    footer div.right-btn {
        float: left;
        position: fixed;
        left:42%;
        top: 55%;
        bottom: 18%;
        z-index: 1000;
        background-color: #26349b;
        border: 3px solid white;
        max-width:15%;
        border-radius: 12px;
        max-height:21%;
        cursor: auto;
        align-items: center;
        display: flex;
        text-align: center;
        text-decoration: none;
        overflow-wrap: break-word;
        padding: 11px;
        color: #FFFFFF;
        font-size:1vmax;
     }

     footer div.right-btn  a{
       max-width: 100%;
       color:white;

       position: relative;
     }

     footer div.top-btn{
        float: left;
        position: fixed;
        left:26%;
        top: 30%;
        bottom:60%;
        z-index: 1000;
        background-color: #26349b;
        border: 3px solid white;
        max-width:15%;
        border-radius: 12px;
        align-items: center;
        display: flex;
        min-height:80px;
        /*font-size:1vmax;*/
        cursor: auto;
        text-decoration: none;
        padding: 22px;
        text-align: center;
        color: #FFFFFF;
        overflow-wrap: break-word;
        font-size:1vmax;

     }

     footer div.right-btn:hover{
         background-color: #1e6465;
     }
     @media screen and (max-width:767px){
     footer div.left-btn{
        display: none;
     }
     footer div.top-btn{
        display: none;
     }
     footer div.right-btn{
        display: none;
     }
    }
    footer > .footer-color{
        bottom: 0;
        position: relative;
        min-height: 1%;
        max-height: 1%;
        min-width: 100%;
        background-color: #1e6465;
    }

    @media screen and (min-width:1024px){
        footer > .footer-color > .footer-content{
            color: white;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            margin-top: 1%;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            font-size:1rem;

        }
        footer > .footer-color > .footer-content > a{
            font-size:1rem;

            color: white;
            text-decoration-line:underline;
        }
        footer > .footer-color > .footer-content > a:hover{
            color: blue;
            text-decoration-line:underline;
        }
    }

    @media screen and (min-width:786px) and (max-width:1024px){
        footer > .footer-color > .footer-content{
            color: white;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            margin-top: 1%;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            font-size:1.2vmax;

        }
        footer > .footer-color > .footer-content > a{
            font-size:1.2vmax;

            color: white;
            text-decoration-line:underline;
        }
        footer > .footer-color > .footer-content > a:hover{
            color: blue;
            text-decoration-line:underline;
        }
    }


    @media screen and (max-width:786px){
        footer > .footer-color > .footer-content{
            color: white;
            text-align: justify;
            font-family: Arial, Helvetica, sans-serif;
            font-style: normal;
            margin-top: 2px;
            margin-left: 5px;
            margin-right: 5px;
            margin-bottom: 10px;
            font-size:1.4vmax;

        }
        footer > .footer-color > .footer-content > a{
            font-size:1.4vmax;

            color: white;
            text-decoration-line:underline;
        }
        footer > .footer-color > .footer-content > a:hover{
            color: blue;
            text-decoration-line:underline;
        }
    }


/*pop up css*/

/* h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
        background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 2000;
}

.overlay:target {
        visibility: visible;
        opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    width: 65%;
    height: 65%;
    position: relative;
    transition: all 5s ease-in-out;
}

    .popup h2 {
        margin-top: 0;
        color: #333;
        font-family: Tahoma, Arial, sans-serif;
    }

    .popup .close {
        position: absolute;
        top: -7px;
        right: 0px;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #333;
    }

        .popup .close:hover {
            color: #06D85F;
        }

    .popup .content {
        height: 100%;
    }

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
} */
