<header>
    <img src="assets/TITREFR-EN-8.png">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-inline p-2"><p>Je parle français et anglais  <br/> <i style="font-size: small;">I speak French and English</i></p></div>
          <div class="d-inline p-2">
            <p>Je fonctionne sur Chrome  <br/> <i style="font-size: small; ">I run on Chrome</i></p>
          </div>
          <div class="d-inline p-2 link">
            <a href="mailto:smartysupport@axa.com" style="text-decoration: none;">
              <p>En cas de problème, contacter le support <br/> <i>If you have any queries, Please contact support <br/> smartysupport@axa.com</i>
            </a>
          </div>
        </div>
      </div>
</header>
